{%- assign indicators = site.data.quality_indicators %}

{% if indicators.size > 0 %}
<div class="table-responsive mt-3">
    <table class="tooltable table display">
    <thead>
    <tr class="text-nowrap">
        <th>Quality indicator</th>
        <th>Description</th>
        <th>Related pages</th>
        <th>Relevant for tier</th>
    </tr>
    </thead>
    <tbody>
    {%- assign pages = site.pages | where: "type", "tasks" | where_exp: "page", "page.quality_indicators != nil" %}

    {%- for indicator in indicators %}
    {% assign pages_that_mention_indicator = "" | split: "," %}
    {% for page in pages %}
        {% if page.quality_indicators contains indicator.abbreviation %}
            {% assign pages_that_mention_indicator = pages_that_mention_indicator | push: page %}
        {% endif %}
    {% endfor %}
    <tr>
        <td><a href="{{ indicator.identifier['@id'] }}">{{ indicator.name }}</a></td>
        <td style="word-wrap: break-word;">{{ indicator.description }}</td>
        <td>
        {% for page_that_mentions_indicator in pages_that_mention_indicator %}
            <a class="nohover" href="{{ page_that_mentions_indicator.url | relative_url }}" data-bs-toggle="tooltip" title="{{ page_that_mentions_indicator.type | replace: '_', ' ' | capitalize }}">
                <span class="badge default-badge">{{ page_that_mentions_indicator.title | truncate: 50 }}</span>
            </a>
        {% endfor %}
        </td>
        <td>
            {% if indicator['relevant in tiers'] %}
                {% for tier in indicator['relevant in tiers'] %}

                    {% if tier[1] != "not relevant" %}

                        {% assign tier_name = tier[0] %}
                        {% if tier_name == "Relevant for RS infrastructure" %}
                            {% assign tier_name = "infrastructure" %}
                        {% elsif tier_name == "Relevant for Prototype tool" %}
                            {% assign tier_name = "prototype tool" %}
                        {% elsif tier_name == "Relevant for Analysis Code" %}
                            {% assign tier_name = "analysis code" %}
                        {% endif %}

                        <span class="badge default-badge opacity-100 cursor-default">
                            {{ tier_name }} ({{ tier[1] }})
                        </span>

                    {% endif %}

                {% endfor %}
            {% endif %}
        </td>
    </tr>
    {%- endfor %}
    </tbody>
    </table>
</div>
{%- endif %}
