{% for item in site.data.quality_dimensions %}
<section class="quality-dimension">
  <h2 id="{{ item.abbreviation | slugify }}">
    {{ item.name }}
    <a
      class="quality-dimension-source"
      href="https://github.com/EVERSE-ResearchSoftware/indicators/blob/main/dimensions/{{ item.abbreviation }}.json"
      style="margin-left: auto; font-size: 0.5em; font-weight: normal; text-decoration: none;">
      Source
    </a>
  </h2>

  <div class="quality-dimension-description">
    {{ item.description | markdownify }}
  </div>

  <p class="quality-dimension-tools">
    You can see the tools associated with this dimension
    <a href="https://everse.software/TechRadar/{{ item.abbreviation }}/">here</a>
  </p>
</section>
{% endfor %}
