
/*-----General styling-----*/
$font-family-theme: "Ubuntu Sans", "Segoe UI Variable", "Segoe UI", Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;

.form-control{
  border: 1px solid $light-x;
  background-color: $white;
}

.landingpage{
  margin-bottom: 15px;
}
